*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
    min-height: 100vh;
    overflow-x: hidden;
}
.products{
    position: absolute;
    padding: 0.2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(390px,1fr));
    row-gap: 10px;
    width: 95vw;
    margin: 10px 50px;
}
.product{
    position: relative;
    height: 500px;
    width: 390px;
    background-color:white ;
    padding: 0 0.5rem;
    line-height: 25px;
}   
.product img {
    width: 380px;
    height: 400px;
    border-bottom: 1px dashed rgba(0,0,0,0.4);
    object-fit:scale-down
}
.addToCart{
    position: absolute;
    padding: 0.5rem;
    background-color: rgb(252, 252, 252);
    color: rgb(25, 205, 28);
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    right: 10px;
    bottom:10px;
    border-radius: 5px;
    cursor: pointer;
    transition:0.3s ease;
   
}
.addToCart:hover {
    background-color: #00ff1e; /* Green */
    color: white;
    box-shadow: 0 10px 20px 0 #28df74, 0 15px 50px 0 #f9f9f9;
  }
